<ng-template #preLoader>
    <app-loader></app-loader>
</ng-template>

<ng-template #paginationLoader>
    <div class="table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Main Image</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let element of arrayOne(10), let i = index">
                <td></td>
                <td></td>
                <td>
                    <ng-container *ngIf="i==5">
                        <app-loader></app-loader>
                    </ng-container>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-container *ngIf="hideLoader else preLoader">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Posts</h4>
                <ngb-pagination [collectionSize]="pagination.total"
                                [(page)]="pagination.page"
                                [(pageSize)]="pagination.size"
                                aria-label="Default pagination"
                                class="float-right"
                                (pageChange)="pageChange()"
                ></ngb-pagination>
                <div *ngIf="hidePaginationLoader else paginationLoader">
                    <div class="table-responsive">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Main Image</th>
                                <th>Slug</th>
                                <th>Title</th>
                                <th>Options</th>
                                <th>Public</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let element of posts, let i = index">
                                <td>
                                    {{i+1+(pagination.page-1)*pagination.size}}
                                </td>
                                <td width="100px">
                                    <img [src]="element.main_image" alt="image"/>
                                </td>
                                <td>
                                    {{element.slug}}
                                </td>
                                <td>
                                    <div [innerHTML]="element.title"></div>
                                </td>
                                <td>
                                    <button
                                            type="button"
                                            class="btn btn-icons btn-inverse-secondary"
                                            [routerLink]="['/admin/post/',element.id,'view']"
                                    >
                                        <i class="far fa-eye"></i>
                                    </button>
                                    <button
                                            type="button"
                                            class="btn btn-icons btn-inverse-secondary"
                                            [routerLink]="['/admin/post/',element.id,'edit']"
                                    >
                                        <i class="far fa-edit"></i>
                                    </button>
                                </td>
                                <td>
                                    <ng-container *ngIf="element.public; then publicYes; else publicNo"></ng-container>
                                    <ng-template #publicYes>
                                        <div class="btn btn-icons btn-inverse-secondary">
                                        <i class="far fa-check-square"></i>
                                        </div>
                                    </ng-template>
                                    <ng-template #publicNo>
                                        <div class="btn btn-icons btn-inverse-secondary">
                                        <i class="far fa-square"></i>
                                        </div>
                                    </ng-template>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
