<div class="container">
    <div class="row">
        <div class="col col-sm-4">
            <app-panel></app-panel>
        </div>
        <div class="col-sm-8">
            <div class="card card-deck" style="margin-top: 20px">
                <div class="card-header">
                    About me
                </div>
                <div class="card-body">
                    <h5 class="card-title">Name:</h5>
                    <p class="card-text">name</p>
                    <h5 class="card-title">Email:</h5>
                    <p class="card-text">email</p>
                </div>
            </div>
        </div>
    </div>
</div>