<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let image of images; let i = index">
    <img [src]="image" alt="Random {{i}} image">
    <div class="carousel-caption">
      <h3>Example slide no. {{i + 1}}</h3>
      <p>Upload your own and try our filters</p>
    </div>
  </ng-template>
</ngb-carousel>
<hr>
<div class="btn-group" role="group" aria-label="Carousel toggle controls">
  <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
  <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
</div>
<hr>
<div class="col-sm">
  <div class="form-group">
    <progress value="0" max="100" id="uploader">0%</progress>
    <input type="file" class="btn form-control-file" aria-describedby="fileHelp" (change)="onFileChanged($event)">
    <div class="btn btn-success" (click)="onUpload()">Upload!</div>
  </div>
</div>