<div *ngIf="images.length > 0">
  <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let image of images; let i = index">
      <img [src]="image" alt="Your {{i}} image">
      <div class="carousel-caption">
        <h3>Your image no. {{i + 1}}</h3>
      </div>
    </ng-template>
  </ngb-carousel>
  <hr>
  <div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
    <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
  </div>
  <hr>
</div>
<!--<div *ngIf="imgInCanvas">-->
<div>
  <canvas id="canvas" width="0" height="0" style="position: relative"></canvas>
</div>
<div class="col-sm">
  <div class="form-group">
    <progress value="0" max="100" id="uploader">0%</progress>
    <input type="file" class="btn form-control-file" aria-describedby="fileHelp" (change)="loadImage($event)">
    <div class="btn-group" role="group">
      <button class="btn btn-success btn-space" (click)="onUpload()">Upload!</button>
      <button class="btn btn-success btn-space" (click)="negatyw()">Negatyw</button>
    </div>
  </div>
</div>