<ng-template #preLoader>
    <app-loader></app-loader>
</ng-template>

<ng-template #addPost>
    Create new post
</ng-template>

<ng-template #showLoader>
    Updating <i class="fa fa-spinner fa-pulse fa-fw text-white"></i>
</ng-template>

<ng-container *ngIf="hideLoader else preLoader">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <button type="submit" (click)="create()" class="btn btn-success mr-2 float-right">
                                <ng-container
                                        *ngIf="hidePostAddLoader;then addPost else showLoader">
                                </ng-container>
                            </button>
                            <br>
                            <br>
                            <!-- PUBLIC -->
                            <h4 class="card-title">Public post</h4>
                            <div class="form-group">
                                <input type="checkbox"
                                       class="form-control"
                                       placeholder="Slug"
                                       [(ngModel)]="model.public"
                                       name="public"
                                       id="public"
                                       aria-label="Public"
                                       aria-describedby="colored-addon3"
                                >
                            </div>
                            <!-- SLUG -->
                            <h4 class="card-title">Slug</h4>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Slug"
                                       [(ngModel)]="model.slug"
                                       name="slug"
                                       id="slug"
                                       aria-label="Slug"
                                       aria-describedby="colored-addon3"
                                >
                            </div>
                            <!-- TITLE -->
                            <h4 class="card-title">Title</h4>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Title"
                                       [(ngModel)]="model.title"
                                       name="title"
                                       id="title"
                                       aria-label="Title"
                                       aria-describedby="colored-addon3"
                                >
                            </div>
                            <!-- MAIN PHOTO -->
                            <h4 class="card-title">Main image</h4>
                            <div class="row">
                                <div class="col-sm">
                                    <ng-container *ngIf="cropperReady; then showCropper; else showImage"></ng-container>
                                    <ng-template #showImage>
                                    </ng-template>
                                    <ng-template #showCropper>
                                        <image-cropper
                                                [imageChangedEvent]="imageChangedEvent"
                                                [maintainAspectRatio]="true"
                                                [aspectRatio]="1.5"
                                                [resizeToWidth]="800"
                                                [roundCropper]="false"
                                                format="png"
                                                outputType="both"
                                                (imageCropped)="imageCropped($event)"
                                                (imageLoaded)="imageLoaded()"
                                                (loadImageFailed)="loadImageFailed()"
                                                style="max-height: 33vh"
                                                [style.display]="cropperReady ? null : 'none'"
                                        ></image-cropper>
                                    </ng-template>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <input type="file" class="btn form-control-file" id="iconFileInput"
                                               aria-describedby="fileHelp" (change)="onFileChanged($event)">
                                        <!--<div class="btn btn-success" (click)="saveChanges(setting)">Upload!</div>-->
                                        <!--<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>-->
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- LEAD -->
                            <h4 class="card-title">Lead</h4>
                            <div [froalaEditor]="leadOptions" [(froalaModel)]="model.lead"></div>
                            <br>
                            <!--CONTENT-->
                            <h4 class="card-title">Content</h4>
                            <div [froalaEditor] [(froalaModel)]="model.content"></div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

