
<app-banner></app-banner>

<app-recommended-posts></app-recommended-posts>

<section class="site-section py-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Category Name</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-8 main-content">
                <app-category-posts></app-category-posts>
            </div>
            <div class="col-md-12 col-lg-4 sidebar">
                <app-right-side-bar></app-right-side-bar>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

