<ng-template #preLoader>
    <app-loader></app-loader>
</ng-template>

<ng-container *ngIf="hideLoader else preLoader">
    <div class="row">
        <div class="col-6 grid-margin">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h4 class="card-title">Account info</h4>
                            <div class="media">
                                <i class="mdi mdi-earth icon-md text-info d-flex align-self-start mr-3"></i>
                                <div class="media-body">
                                    <p class="card-text"><strong>Name:</strong> {{user?.name}}</p>
                                    <p class="card-text"><strong>Email:</strong> {{user?.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">My permissions</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Permission name</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let permission of objectKeys(userPermissions), let i = index">
                            <tr>
                                <td>{{ i + 1 }}</td>
                                <td>
                                    {{ userPermissions[permission].name }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


