<ng-template #preLoader>
    <app-loader></app-loader>
</ng-template>

<ng-template #updateUser>
    Save
</ng-template>

<ng-template #showLoader>
    Updating <i class="fa fa-spinner fa-pulse fa-fw text-white"></i>
</ng-template>

<ng-container *ngIf="hideLoader else preLoader">
    <div class="row">
        <div class="col-6 grid-margin">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h4 class="card-title">User info</h4>
                            <form class="forms-sample">
                                <div class="form-group">
                                    <label for="userEmail">Email address</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Title"
                                           [(ngModel)]="user.email"
                                           name="userEmail"
                                           id="userEmail"
                                           aria-label="User Email"
                                           aria-describedby="colored-addon3"
                                           disabled
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="userName">Name</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Title"
                                           [(ngModel)]="user.name"
                                           name="userName"
                                           id="userName"
                                           aria-label="User Name"
                                           aria-describedby="colored-addon3"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="userName">Avatar</label>
                                    <div class="row">
                                        <div class="col-sm">
                                            <ng-container *ngIf="cropperReady; then showCropper; else showImage"></ng-container>
                                            <ng-template #showImage>
                                                <img [src]="user.avatar" width="100px">
                                            </ng-template>
                                            <ng-template #showCropper>
                                                <image-cropper
                                                        [imageChangedEvent]="imageChangedEvent"
                                                        [maintainAspectRatio]="true"
                                                        [aspectRatio]="1"
                                                        [resizeToWidth]="100"
                                                        [roundCropper]="false"
                                                        format="png"
                                                        outputType="both"
                                                        (imageCropped)="imageCropped($event)"
                                                        (imageLoaded)="imageLoaded()"
                                                        (loadImageFailed)="loadImageFailed()"
                                                        style="max-height: 33vh"
                                                        [style.display]="cropperReady ? null : 'none'"
                                                ></image-cropper>
                                            </ng-template>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group">
                                                <input type="file" class="btn form-control-file" id="iconFileInput"
                                                       aria-describedby="fileHelp"
                                                       (change)="onFileChanged($event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" (click)="update()" class="btn btn-success mr-2 float-right">
                                    <ng-container
                                            *ngIf="hideUpdateUserLoader;then updateUser else showLoader">
                                    </ng-container>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">My permissions</h4>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Permission name</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let permission of objectKeys(userPermissions), let i = index">
                            <tr>
                                <td>{{ i + 1 }}</td>
                                <td>
                                    {{ userPermissions[permission].name }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


