<ng-template #preLoader>
    <app-loader></app-loader>
</ng-template>

<ng-container *ngIf="hideLoader else preLoader">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h4 class="card-title">Carousels</h4>
                            <button class="btn btn-light float-right" (click)="saveChanges()">Save</button>
                            <!-- Carousel list -->
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody id="sortable">
                                    <tr *ngFor="let item of carouselGroup; let i = index" id="{{item.id}}">
                                        <td class="py-1">
                                            <img src='../../assets/images/faces-clipart/pic-1.png' alt="image"/>
                                        </td>
                                        <td>{{item.id}}</td>
                                        <td>{{item.name}}</td>
                                        <td routerLink="../../carousel/{{item.id}}">
                                            <button type="button" class="btn btn-icons btn-inverse-secondary">
                                                <i class="far fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
