<ng-template #preLoader>
    <app-loader></app-loader>
</ng-template>

<ng-template #updateSetting>
    <i class="fa fa-save text-white"></i>
</ng-template>
<ng-template #showLoader>
    <i class="fa fa-spinner fa-pulse fa-fw text-white"></i>
</ng-template>


<ng-container *ngIf="hideLoader else preLoader">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="row flex-grow">
                <div class="col-12">
                    <div class="card">
                        <div class="col-8">
                            <div class="card-body">
                                <h4 class="card-title">Settings</h4>
                                <div *ngFor="let setting of settings | settingsfilter:{key:'title'}" class="form-group">
                                    <p class="card-description">{{setting.key}}</p>
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Title"
                                               [(ngModel)]="setting.value"
                                               aria-label="Title"
                                               aria-describedby="colored-addon3"
                                        >
                                        <div class="input-group-append bg-success border-success">
                                          <span class="input-group-text bg-transparent" (click)="saveChanges(setting)">
                                              <ng-container
                                                      *ngIf="updateSettingsLoader[setting.key];then showLoader else updateSetting">
                                              </ng-container>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngFor="let setting of settings | settingsfilter:{key:'description'}"
                                     class="form-group">
                                    <p class="card-description">{{setting.key}}</p>
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Title"
                                               [ngModel]="setting.value"
                                               aria-label="Title"
                                               aria-describedby="colored-addon3"
                                        >
                                        <div class="input-group-append bg-success border-success">
                                             <span class="input-group-text bg-transparent" (click)="saveChanges(setting)">
                                              <ng-container
                                                      *ngIf="updateSettingsLoader[setting.key];then showLoader else updateSetting">
                                              </ng-container>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
